.Modal__hidden {
  display: none;
}

.Modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 20%;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.Modal__container {
  position: absolute;
  z-index: 1000;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  /*min-width: 350px;*/
  /*width: 80%;*/
  min-height: 350px;
  border-radius: 8px;
  padding: 8px;
}
